.HomePage {
  overflow-x: hidden;
  height: 100%;
  overflow-y: scroll;
}

.HomePage__section {
  padding: 16px 0;
}
.HomePage__section__header {
  padding: 0 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.HomePage__section__header__title {
  margin: 0;
  font-size: 16px;
}

.HomePage__section__content {
  padding: 0 16px;
}

.HomePage__section__content__categoryList {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  overflow: scroll;
  width: 100%;
}
.HomePage__section__content__category_button img {
  filter: var(--text-color-filter);
}

.HomePage__section__drinks__list {
  display: flex;
  flex-direction: row;
  width: 100%;
}
